html {
  --background-colour: #ffffff;
  --timer-colour: #9BCCFD;
  --divider-colour: rgba(0, 0, 0, 0.3);
  --text-color: #000000;
  --footer-background-colour: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
  --background-colour: #111111;
  --timer-colour: #014063;
  --divider-colour: rgba(255, 255, 255, 0.3);
  --text-color: #ffffff;
  --footer-background-colour: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    --background-colour: #111111;
    --timer-colour: #014063;
    --divider-colour: rgba(255, 255, 255, 0.3);
    --text-color: #ffffff;
    --footer-background-colour: rgba(255, 255, 255, 0.1);
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: Cantarell, Roboto, Ubuntu, sans-serif;
  font-size: 2rem;

  background: var(--background-colour);
  color: var(--text-color);
}

.timer-list {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  .timer {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    border-bottom: 1px solid var(--divider-colour);
    cursor: pointer;
  }

  .pref-bar {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid var(--divider-colour);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  >:last-child {
    margin-bottom: 6rem;
  }
}

.timer-display-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .timer-bg {
    transition: 100ms;
    width: 100%;
    background-color: var(--timer-colour);
  }

  .timer-label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 0;

  &.footer-overlay {
    background-color: var(--footer-background-colour);
    backdrop-filter: blur(3px);
  }
}
